spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/turismo_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    mongodb:
      uri: mongodb://localhost:27017/turismo_comments

  redis:
    host: localhost
    port: 6379

server:
  port: 8080
